<ng-container *ngIf="basket$ | async">
<!-- <ng-container *ngIf="basket"> -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="border-0" [class.bg-light]="isBasket">
                        <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0" [class.bg-light]="isBasket">
                        <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0" [class.bg-light]="isBasket">
                        <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0" [class.bg-light]="isBasket">
                        <div class="py-2 text-uppercase">Total</div>
                    </th>
                    <th *ngIf="isBasket" scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Remove</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of (basket$ | async).items">
                <!-- <tr *ngFor="let item of basket.items"> -->
                    <th scope="row">
                        <div class="p-2">
                            <img src="{{item.pictureUrl}}" alt="{{item.name}}" class="img-fluid"
                                style="max-height: 50px;">
                            <div class="ms-3 d-inline-block align-middle">
                                <h5 class="mb-0">
                                    <a routerLink="/shop/{{item.id}}" class="text-dark">{{item.name}}</a>
                                </h5>
                                <span class="text-muted d-block" style="font-style:italic; font-weight:normal;">
                                    Type: {{item.type}}
                                </span>
                                <!-- <ng-container *ngIf="getProductStock(item.id) | async as stock"> -->
                                    <span class="text-muted d-block"
                                        style="font-style:italic; font-weight:normal;">
                                        Stock: 
                                        <!-- {{getProductStock(item.id) | async}} -->
                                        <!-- {{getProductStocks(item.id)}} -->
                                    </span>
                                <!-- </ng-container> -->
                            </div>
                        </div>
                    </th>
                    <td class="align-middle"><strong>{{item.price | currency}}</strong></td>
                    <td class="align-middle">
                        <div class="d-flex align-items-center" [class.justify-content-center]="!isBasket">
                            <i *ngIf="isBasket" (click)="decrementItemQuantity(item)"
                                class="fa fa-minus-circle text-warning me-2"
                                style="cursor: pointer; font-size: 2em;"></i>
                            <span style="font-weight:bold; font-size: 1.5;">{{item.quantity}}</span>
                            <i *ngIf="isBasket" (click)="incrementItemQuantity(item)"
                                class="fa fa-plus-circle text-warning mx-2"
                                style="cursor: pointer; font-size: 2em;"></i>
                        </div>
                    </td>
                    <td class="align-middle"><strong>{{item.price * item.quantity | currency}}</strong></td>
                    <td class="align-middle text-center">
                        <a class="text-danger">
                            <i *ngIf="isBasket" (click)="removeBasketItem(item)" class="fa-solid fa-trash"
                                style="font-size: 2em; cursor: pointer;"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</ng-container>