<pagination [boundaryLinks]="true" [totalItems]="totalCount" (pageChanged)="onPagerChange($event)" [rotate]="true"
    [maxSize]="6" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
    lastText="&raquo;">
</pagination>

<!-- <pagination-controls 
    [boundaryLinks]="true" 
    [totalItems]="totalCount" 
    (pageChanged)="onPagerChange($event)" 
    [rotate]="true"
    [maxSize]="6" 
    [itemsPerPage]="pageSize" 
    previousLabel="&lsaquo;"
    nextLabel="&rsaquo;" 
    firstText="&laquo;"
    lastText="&raquo;">
</pagination-controls> -->
